{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Хакатон "Земляника"</title>
    <link rel="stylesheet" href="{% static "deps/css/main.css" %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
    <input type="file" id="fileInput" style="display: none;">
    <h1 id="mainHeader">Главная</h1>
    <img id="image" src="{% static "deps/images/logo.jpg" %}" alt="logo">
    <br></br>
    <form action="{% url 'upload-file' %}" method="">
         <input name="file">
         <button type="submit">Добавить резюме</button>
    </form>
    <br>
        <table id="table" contenteditable = "true">
            <tr contenteditable = "false">
                <th>ФИО</th>
                <th>Скилы</th>
            </tr>
        
        </table>
    </div>
    <script src="{% static "deps/js/main.js" %}"></script>
</body>
</html>
